
*.sh
*.xcconfig
test/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
test/android/local.properties
test/ios/Runner/GeneratedPluginRegistrant.h
test/ios/Runner/GeneratedPluginRegistrant.m
.dart_tool
example/lib/main.reflectable.dart
example/linux/flutter/ephemeral/.plugin_symlinks/connectivity_plus
example/linux/flutter/ephemeral/.plugin_symlinks/isar_flutter_libs
example/linux/flutter/ephemeral/.plugin_symlinks/nostr_mls_package
example/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
example/linux/flutter/generated_plugins.cmake
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/macos/Podfile
example/pubspec.lock
example/windows/flutter/ephemeral/.plugin_symlinks/connectivity_plus
example/windows/flutter/ephemeral/.plugin_symlinks/isar_flutter_libs
example/windows/flutter/ephemeral/.plugin_symlinks/nostr_mls_package
example/windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
example/windows/flutter/generated_plugins.cmake
